Repository Benzammour/yobemag, pull requests merged in 2022-10, with the labels that each got.

#27 Add pre-commit hooks
  .clang-format
  .pre-commit-config.yaml
Labels: dev-ops

#31 feat: introduce defines for single and double word cpu reg access
  src/cpu.c
  src/cpu.h
  test/alu_8bit_sub_test.c
  test/common/util.c
Labels: cpu

#15 Implement ADC A,n instruction for 8-bit ALU
  .gitignore
  CMakeLists.txt
  src/cpu.c
  src/cpu.h
  src/mmu.h
  test/alu_8bit_adc_test.c
  test/alu_8bit_lds_test.c
  test/alu_8bit_sbc_test.c
  test/alu_8bit_sub_test.c
  test/common/util.c
  test/common/util.h
  test/fixtures/cpu_mmu.c
  test/sample_unit_test.c
Labels: cpu

#34 Add unit tests for ADD instruction
  CMakeLists.txt
  test/alu_8bit_add_test.c
Labels: cpu

#38 feat: register teardown function after corresponding subsystem is inited
  src/lcd.c
  src/lcd.h
  src/log.c
  src/log.h
  src/main.c
Labels: code-quality

#42 feat: add 8-bit AND A,n instruction with unit tests
  CMakeLists.txt
  src/cpu.c
  src/cpu.h
  test/alu_8bit_and_test.c
Labels: cpu

#39 feat(log): create unit tests
  .clang-format
  CMakeLists.txt
  src/log.c
  test/cli_test.c
  test/log_test.c
Labels: code-quality

#46 feat: add 8-bit OR A,n instruction with unit tests
  CMakeLists.txt
  src/cpu.c
  src/cpu.h
  test/alu_8bit_adc_test.c
  test/alu_8bit_add_test.c
  test/alu_8bit_and_test.c
  test/alu_8bit_or_test.c
  test/common/alu.c
  test/common/alu.h
Labels: cpu

#44 feat(LD HL,n): adds implementation + tests
  src/cpu.c
  src/cpu.h
  test/8bit_lds_test.c
  test/common/util.c
  test/common/util.h
Labels: cpu

#47 feat: add clang-tidy review action
  .clang-tidy
  .github/workflows/clang-tidy-review.yml
Labels: dev-ops

#49 Feature: Add ALU XOR implementation
  .clang-tidy
  CMakeLists.txt
  src/cpu.c
  src/cpu.h
  src/lcd.c
  src/log.h
  src/mmu.c
  test/8bit_lds_test.c
  test/alu_8bit_adc_test.c
  test/alu_8bit_add_test.c
  test/alu_8bit_and_test.c
  test/alu_8bit_or_test.c
  test/alu_8bit_xor_test.c
  test/common/alu.c
  test/common/alu.h
Labels: cpu
